@import './variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
    overflow: hidden;
    /* App-like feel */
    -webkit-font-smoothing: antialiased;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
}

input[type="range"] {
    accent-color: var(--color-primary);
}